@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");
/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", "sans-serif";
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* utility classes */
.big-bold-text {
  font-size: 3.5rem;
  font-weight: 700;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}

.hover-link:hover {
  color: var(--accent-color);
}

.learn-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2 ease-out;
}

.learn-button:hover {
  background-color: var(--accent-color-dark);
}

/* top-banner */
.top-banner {
  background-image: url(./assets/top-banner.jpg);
  background-color: #2294ed;
  background-size: 1260px;
}

.banner-text {
  color: white;
  padding: 15px 30px;
  text-align: center;
}

/* navbar */
.main-nav {
  margin-top: 5px;
  justify-content: space-between;
}

.bca-logo img {
  margin-left: 35px;
  width: 130px;
}

.bca-logo h2 {
  margin-top: -20px;
  font-size: 25px;
}

.nav-links {
  margin-top: -50px;
  font-size: 20px;
  flex-basis: 730px;
}

.nav-links ul {
  justify-content: end;
  gap: 50px;
}

.nav-toggle {
  display: none;
}

/* header section */
header {
  padding: 1px var(--padding-inline-section) 0;
  background-image: url(./assets/background-image.svg);
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: 30px;
}

.header-section {
  justify-content: center;
  gap: 50px;
}

.header-left {
  max-width: 50vw;
}

.header-left h1 {
  margin-top: -60px;
}

.header-right img {
  margin-top: -60px;
  width: 600px;
}

/* Animation */
.animation-section {
  justify-content: center;
  gap: 50px;
}
.wrapper {
  display: flex;
}
.wrapper .static-txt {
  color: var(--primary-text-color);
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: #fc6d6d;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  border-left: 2px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

/* video section */
section {
  padding: 50px var(--padding-inline-section) 0;
}

.video-section {
  justify-content: center;
  gap: 110px;
}

.section-left {
  background-image: url(./assets/background-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
}

.section-right {
  margin-top: 30px;
  max-width: 40vw;
}

.section-right h1 {
  margin-top: 20px;
}

.section-right img {
  width: 600px;
}

.know-more {
  color: red;
}

/* coding-language */
.coding-language-section {
  background-image: url(./assets/background-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 450px;
}

.coding-header {
  text-align: center;
}

.coding-header h2 {
  font-size: 50px;
}

.coding-card {
  padding: 80px var(--padding-inline-section);
  flex-direction: column;
  gap: 10px;
  max-width: 30%;
}

.coding-area {
  margin-top: -40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* cta-section */
.cta-section-container {
  flex-direction: column;
  gap: 15px;
  color: white;
}

.cta-section {
  padding: 50px var(--padding-inline-section) 30px;
  background-color: #183b54;
}

.cta-section-container p {
  color: white;
}

/* footer */
.footer {
  background-color: #b9cde4;
  padding: var(--padding-inline-section);
}

.footer a {
  font-family: monospace;
  font-size: 20px;
}

.footer-container {
  color: #fc6d6d;
  font-size: 20px;
  justify-content: center;
  gap: 10px;
}

/* Notes-Section-CSS */
.notes-section {
  background-color: #f2f2f2;
  padding: 40px;
}

.notes-header h2 {
  text-align: center;
  font-size: 55px;
  color: #333;
  margin-bottom: -50px;
}

.year-section {
  margin-bottom: 20px;
}

.year-section h2 {
  font-size: 30px;
  color: #555;
  margin-bottom: 10px;
}

.semester-section {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px 0 #ccc;
  margin-bottom: 15px;
}

.semester-section h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.semester-section ul {
  list-style: none;
  padding-left: 0;
}

.semester-section li {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}
